<div class="container-fluid" style="margin: 0px; padding:0px;">
  <div >

  </div>
  <div class="pageOneHead">
    <div class="col notBoard" >
      <app-navbar > </app-navbar>
    </div>
    <div class="col notBoard">
      <app-carousel></app-carousel>
    </div>
  </div>

</div>


<div class="container">
  <div class="PageOneBody">
    <div class="row container productByType">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 " style="border:1px solid red;">
        <!--<app-productbytype></app-productbytype>-->
      </div>
      <div class="col-lx-3 col-lg-3 col-md-3 col-sm-3"  style="border:1px solid green; height:50px;">

      </div>
    </div>

    <div class="row" style="border:1px solid skyblue; overflow:hidden ">
      <app-product></app-product>
    </div>
  </div>
</div>

