<div class="container">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">用户</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">管理员</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="card">
        <div class="card-header">
          <span class="glyphicon glyphicon-log-in"></span>
        </div>
        <div class="card-body">

          <ul class="list-group list-group-flush">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >用户名</span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text " >密码</span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>


          </ul>

        </div>
        <div class="btn-group btn-group-lg row justify-content-md-center" role="group" aria-label="...">
          <button (click)="gotoLogin()" type="button" class="btn-success">登陆</button>
          <button (click)="gotoRegister()"  type="button" class="btn-info">注册</button>
        </div>

      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    </div>
  </div>








