<div class="container">
  <div class="card" style="width: 100%;">
    <div class="card-header">
      <button  class="btn btn-primary" (click)="add()">新增</button>
      <span  style="text-align:center;width:100%;margin-left: 40%;">教材书籍管理</span>
    </div>
    <table  class="table table-striped">
      <tr >
        <td>主键</td>
        <td>类型</td>
        <td>名称</td>
        <td>版本号</td>
        <td>封面图</td>
        <td>简介</td>
        <td>作者</td>
        <td>原价</td>
        <td>现价</td>
        <td>星数</td>
        <td>操作</td>
      </tr>
      <tr *ngFor="let p of products">
        <td >
          {{n.bid}}
        </td><td >
        {{n.btype}}
      </td><td >
        {{n.bname}}
      </td><td >
        {{n.bversion}}
      </td><td >
        {{n.bimage}}
      </td><td >
        <!--<div class="manageShowHidden" [innerHTML]="n.bintro| tohtml"></div>-->
      </td><td >
        {{n.bauthor}}
      </td><td >
        {{n.boldcost}}
      </td><td >
        {{n.bnewcost}}
      </td><td >
        {{n.bstar}}
      </td>
        <td>
          <button class="btn btn-warning" (click)="update(n.bid)">修改</button>
          <button (click)="delete(n.bid)" class="btn btn-danger">删除</button>
          <button class="btn btn-info" (click)="detail(n.bid)">预览</button>
        </td>
      </tr>
    </table>

    <nav aria-label="Page navigation example" style="float:right; margin:0px;padding: 0px;">
      <ul class="pagination" style="float: right;">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
