/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
button {
  border-radius: 4px;
}

.productPrice {
  font-size: 14px;
  color: firebrick;
  line-height:14px;
  height:14px;
  text-align: left;
}

.product{
  width:300px;
  height:auto;
  overflow: hidden;
}
